@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 100vw;
  min-height: 100vh;
  background: url(./images/galaxy.jpg);
}

h1 {
  color: aliceblue;
  text-shadow: 4px 4px black;
  text-align: center;
  padding: 1.5rem;
  font-family: 'Press Start 2P', cursive;
}

table {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-collapse: collapse;
}

.header {
  background-color: lightgrey;
  padding: 15px;
}

select {
  cursor: pointer;
  margin: 8px;
}

button {
  cursor: pointer;
  font-size: 1rem;
}

.gameStatus {
  background-color: lightgrey;
}

td {
  cursor: pointer;
  width: 20px;
  height: 20px;
  background-color: #afafaf;
  border: 2px solid rgb(26, 25, 25);
  box-shadow: 1px 1px 1px 1px;
  text-align: center;
}

.footer {
  background-color: lightgrey;
}
