@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 100vw;
  min-height: 100vh;
  background: url(./images/galaxy.jpg);
}

h1 {
  color: aliceblue;
  text-shadow: 4px 4px black;
  text-align: center;
  padding: 1.5rem;
  font-family: 'Press Start 2P', cursive;
}

table {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-collapse: collapse;
}

.header {
  background-color: lightgrey;
  padding: 15px;
}

select {
  cursor: pointer;
  margin: 8px;
}

button {
  cursor: pointer;
  font-size: 1rem;
}

.gameStatus {
  background-color: lightgrey;
}

.cell-1 {
  color: blue;
  background-color: lightgrey;
}

.cell-2 {
  color: rgb(14, 94, 14);
  background-color: lightgrey;
}

.cell-3 {
  color: red;
  background-color: lightgrey;
}

.cell-4 {
  color: purple;
  background-color: lightgrey;
}

.cell-5 {
  color: darkblue;
  background-color: lightgrey;
}

.cell-6 {
  color: orangered;
  background-color: lightgrey;
}

.cell-7 {
  color: teal;
  background-color: lightgrey;
}

.cell-8 {
  color: rgb(29, 28, 28);
  background-color: lightgrey;
}

.cell-flag {
  font-size: 10px;
  background-color: lightgrey;
}

.cell-bomb {
  font-size: 10px;
  background-color: lightgrey;
}

.cell-flaged {
  font-size: 10px;
  background-color: lightgrey;
}

.cell-covered {
  background-color: lightgrey;
}

td {
  cursor: pointer;
  width: 20px;
  height: 20px;
  background-color: #afafaf;
  border: 2px solid rgb(26, 25, 25);
  box-shadow: 1px 1px 1px 1px;
  text-align: center;
}

.footer {
  background-color: lightgrey;
}
